#Sresultados {
    z-index: 99999999999;
    color: black;
    font-size: 14px;
    position: absolute;
    left: 446px;
    top: 47px;
    background: white;
    width: 430px;
}
.iconevent {
    width: 16px;
    height: 16px;
    display: inline-block;
    top: -1px;
    position: relative;
    left: 5px;
}
.pac-alias {
    padding-right: 18px !important;
}
/* search box*/
.pac-matched {
    font-weight: 600;
}

.pac-item-query {
    /*color: #667;*/
}

.pac-container.pac-logo {
    background: white;
}

.controls {
    margin-top: 16px;
    /*  border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;*/
    padding-right: 34px !important;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#S_LatLng {
    background-color: #fff;
    /* width: 400px;*/
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    margin-left: 50px;
}
/*    #S_LatLng:focus {
            border-color: #4d90fe;
            margin-left: -1px;
            padding-left: 14px;
            Regular padding-left + 1.
            width: 401px;
        } */

.search-box {
    transition: width 0.6s, background 0.6s;
    width: 5px;
    height: 35px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    padding-right: 35px;
}

    .search-box + label .search-icon {
        color: black;
    }

    .search-box:hover {
        color: white;
        background: #49565d !important;
    }

        .search-box:hover + label .search-icon {
            color: white;
        }

    .search-box:focus {
        border: none;
        outline: none;
        box-shadow: none;
        padding-left: 15px;
        cursor: text;
        width: 400px;
        border-radius: auto;
        background: white !important;
        color: black;
    }

        .search-box:focus + label .search-icon {
            color: black;
        }

    .search-box:not(:focus) {
        text-indent: -5000px;
    }

.search-icon {
    position: relative;
    left: -30px;
    color: white;
    cursor: pointer;
}

.pac-container {
    font-family: Roboto;
}

    .pac-container.pac-logo {
        width: 449px !important;
        right: 18px !important;
        /*  left: auto !important; */
    }

.pac-logo:after {
    display: none !important;
}

.pac-item {
    cursor: pointer;
}

/* INFOWINDOWS */
.gm-style-iw__ {
    width: 450px !important;
    top: 15px !important;
    /*left: 0px !important;*/
    left: 15px !important;
    background-color: #fff;
    border-radius: 0px 0px 4px 4px !important;
    /*box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);*/
    box-shadow: 0 0 6px rgba(0,33,50,.1), 0 7px 25px rgba(17,38,60,.4) !important;
}


.iw-title_ {
    /*font-family: 'Open Sans Condensed', sans-serif;*/
    font-size: 14px;
    font-weight: 400;
    
    /* height: 35px;*/

    margin: 0;
    border-radius: 2px 2px 0 0;
}

.iw-content_ {
    font-size: 13px;
    /* line-height: 18px;*/
    font-weight: 400;
    margin-right: 1px;
    padding: 5px;
    padding-bottom: 2px;
    max-height: 440px;
    /* overflow-y: auto;*/
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 2;
    position: relative;
}


/* desired tail shadow color */
.desired {
    /*  box-shadow: rgba(72, 181, 233, 0.6) 0px 1px 6px !important;*/
    box-shadow: #3A4B55 0px 1px 6px !important;
    z-index: 1;
}

.CloseBtnDesired {
    opacity: 1 !important;
    right: 37px !important;
    top: 20px !important;
    padding-top: 0px;
    border-radius: 13px !important;
    cursor: pointer;
    width: 35px !important;
    height: 28px !important;
}

    .CloseBtnDesired label {
        padding-left: 15px;
        padding-top: 5px;
        color: #fff;
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
    }

    .CloseBtnDesired img {
        display: none;
    }

/* INFOWINDOW TABLE */
.info table, .info td {
    border: 1px solid #ddd;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    vertical-align: middle;
}

    .info td:nth-child(n+1) {
        background: #fcfcfc;
        width: 110px;
        padding: 0px;
        padding-left: 4px;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
    }

    .info td:nth-child(n+2) {
        background: #FFF !important;
        width: 365px;
        padding: 0px;
        padding-left: 4px;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
    }

.infotitle_i {
    cursor: pointer;
    position: relative;
    top: -4px;
    right: 2px;
    display: inline-block;
}

    .infotitle_i:hover {
        font-size: 17px;
    }

.infotitle {
    display: inline-block;
    position: relative;
    top: -2px;
    left: 4px;

    background-color: #3A4B55;
    color: white;
    width: 480px;
    height: 27px;
    padding: 5px;
}

.popoverInfoVehiculo {
    display: block;
    position: fixed;
    box-shadow: 0 0 6px rgba(0,33,50,.1), 0 7px 25px rgba(17,38,60,.4) !important;
}

#popoverInfoVehiculo_Content {
    white-space: nowrap !important;
}

/* CAPA DE TRÁFICO */
#GMAP .gm-style .gmnoprint label {
    position: relative;
    top: 4px;
}

/* Fixed Bug 1 SOLVENTA EL BUG DE BOTONES GRANDES GOOGLE MAPS */
.gmnoprint .gm-style-mtc div {
    font-size: 14px !important;
}

.gmnoprint,
.gm-fullscreen-control {
    zoom: 0.75;
}

    .gmnoprint .gm-style-cc {
        display: none;
    }

/* Botones de Mapas de Google */
.controlUI {
    margin: 10px;
    margin-left: 0px;
    position: absolute;
    cursor: pointer;
}

.GMAPSControlText, .GMAPSControlText:hover,
.OSMControlText, .OSMControlText:hover,
.BingControlText, .BingControlText:hover,
.CommunityControlText, .CommunityControlText:hover {
    direction: ltr;
    overflow: hidden;
    text-align: center;
    position: relative;
    color: rgb(86, 86, 86);
    font-family: Roboto, Arial, sans-serif;
    -webkit-user-select: none;
    font-size: 11px;
    padding: 8px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    -webkit-background-clip: padding-box;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    min-width: 28px;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    white-space: nowrap;
}

.BingControlText, .OSMControlText {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.CommunityControlText {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 2px !important;
    border-top-right-radius: 2px !important;
}

    .GMAPSControlText:hover, .OSMControlText:hover, .BingControlText:hover, .CommunityControlText:hover {
        background-color: rgb(235, 235, 235);
    }

.btnContent {
    z-index: -1;
    padding: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    position: absolute;
    left: 0px;
    top: 41px;
    text-align: left;
    background-color: white;
}

.btnContentShape {
    color: rgb(0, 0, 0);
    font-family: Roboto, Arial, sans-serif;
    -webkit-user-select: none;
    font-size: 11px;
    padding-right: 12px;
    direction: ltr;
    text-align: left;
    white-space: nowrap;
    background-color: rgb(255, 255, 255);
}

.btnContentText {
    position: absolute;
    left: 1px;
    top: -2px;
    width: 13px;
    height: 11px;
    overflow: hidden;
}

.r_ {
    font-family: Roboto, Arial, sans-serif !important;
    -webkit-user-select: none !important;
}

    .r_ label {
        padding-left: 10px !important;
    }

    .r_ span {
        position: relative;
        padding-left: 7px;
        display: inline-block;
        cursor: pointer;
        vertical-align: text-top;
        padding-top: 4px;
    }
.btnStyled {
    top: 5px;
    position: relative;
}
